<div class="col-12 row ">
    <div class="page__section col-12">
        <nav class="breadcrumb breadcrumb_type5" aria-label="Breadcrumb">
          <ol class="breadcrumb__list r-list">
            <li class="breadcrumb__group">
              <a href="" class="breadcrumb__point r-link"><h4>Departement</h4></a>
              <span class="breadcrumb__divider" aria-hidden="true"><h4>›</h4></span>
            </li>
            <li class="breadcrumb__group">
                <a href="" class="breadcrumb__point r-link"><h4>Modifier</h4></a>
                <span class="breadcrumb__divider" aria-hidden="true"><h4>›</h4></span>
              </li>
            <li class="breadcrumb__group">
              <a href="" class="breadcrumb__point r-link"><h4><%= Dept.dept_name %>  </h4></a>
            </li>
          </ol>
        </nav>
      </div>
</div>
<h3>Modifier un département</h3>

<div class="col-12 row justify-content-center">
  <form class="col-8 card box mt-4 " method="POST" action="/Dept/post/<%= Dept.id %>">
    <div class="row mt-4 justify-content-center">
      <div class="col-5">
        <input name="dept_name" value="<%= Dept.dept_name %> " type="text" class="form-control text-center" placeholder="nom du département">
      </div>
    
    </div><br/>
    <div class="row mt-2 mb-4 justify-content-center">
      <button type="submit" class="btn btn-primary col-4">Modifier</button>
    </div>
  </form>
</div>